.projects {
  width: 90%;
  margin: 30px;
  padding-left: 600px;
}

.projectbox {
  background: #beeeb8e0;
  border: 1px solid#4ef572;
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.projectbox h4.header {
  background: #4ef572;
  color: #000000;
  padding: 15px;
}

.projectbox img {
  margin-bottom: 10px;
}

.projectbox a.button {
  display: flow-root;
  width: 50%;
  margin: 10px auto;
  color: #000000;
  background: #4ef572;
  text-align: right;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  padding: auto;
}

footer {
  clear: left;
}

table.customTable {
  width: 100%;
  background-color: #afecbe;
  border-collapse: collapse;
  border-width: 4px;
  border-color: #4ef572;
  border-style: solid;
  color: #000000;
}

table.customTable td,
table.customTable th {
  border-width: 4px;
  border-color: #4ef572;
  border-style: solid;
  padding: 6px;
}

table.customTable thead {
  background-color: #4ef572;
}
h2,
h3,
p {
  text-align: center;
}
